
/*
Briefly commenting these out until I can figure out how to not have them interfere with other css
h1 {
    font: 15px arial, sans-serif;
}
div {
    font:italic bold 12px/30px Georgia, serif;
}
*/

/** New styles added here **/

.container {
    font-family: 'Roboto', sans-serif;
}

.bucket-title {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
}
.segway {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 30px;
}

#main-title {
    font-weight: 100;
    font-size: 50px;
    margin-top: 90px;
    margin-bottom: 40px;
    text-align: center;
}

.main-header {
    text-align: center;
    position: relative;
    width: 100%;
}

#img1-placeholder {
    width: 100%;
    height: 500px;
    background-color: #e1e8f0;
    opacity: .7;
    margin-top: 20px;
}

.quote {
    font-family: 'Shrikhand', cursive;
    position: absolute;
    top: 150px;
    left: 220px;
    width: 60%;
}
.quotetext {
    font-family: 'Shrikhand', cursive;
}

a:link {
    color: grey;
    text-decoration: none;
}

a:hover {
    background-color: lightgrey;
}

/**
Code help for top banner image from: http://stackoverflow.com/questions/18423004/html-css-creating-a-banner-header
Code help for positioning text over image from: https://css-tricks.com/text-blocks-over-image/
**/

.source {
    text-align: center;
}

#bucket1-placeholder,
#vis3-placeholder,
#text3-placeholder {
    height: 300px;
    background-color: #e1e8f0;
    opacity: .4;
    margin-right: 15px;
    text-align: center;
}

#vis3-placeholder {
    margin-right: 30px;
}

#bucket1-addl-placeholder {
    height: 300px;
    background-color: #e1e8f0;
    opacity: .4;
    margin-top: 20px;
    text-align: center;
}

.b2-placeholders,
.b3-placeholders{
    height: 300px;
    background-color: #e1e8f0;
    opacity: .4;
    margin-right: 15px;
    text-align: center;
    margin-top: 20px;
}


/*
THIS CODE WAS TAKEN DIRECTLY FROM RUSSIA CHOROPLETH MAP
AT: http://bl.ocks.org/KoGor/5685876
Code for VIS 3: LE Choropleth
*/
div.tooltip {
    position: absolute;
    text-align: center;
    width: 130px;
    height: 40px;
    padding: 3px;
    font-size: 10px;
    font-family:'Raleway', sans-serif;
    background: floralwhite;
    border: 1px;
    pointer-events: none;
}


/* Scrolling navigation bit
Color scheme from https://startbootstrap.com/template-overviews/scrolling-nav/*/
.navbar, .navbar-inverse, .navbar-fixed-top {
    background-color: #f8f8f8;
    border: #e7e7e7;
    color: #787878;
}

.navbar-inverse .navbar-nav>.active>a {
    background-color: #e7e7e7;
}

.navbar-inverse .navbar-nav>li>a {
    color: #777777;
}

/* taken from lab 4 and http://bl.ocks.org/weiglemc/6185069*/

.axis path,
.axis line,
.domain {
    fill: none;
    stroke: #888;
    shape-rendering: crispEdges;
}
.axis-label {
    fill: #888;
    font-size: 10px;
}

.scatter-tooltip {
    position: absolute;
    width: 200px;
    height: 28px;
    pointer-events: none;
}

.scatter {
    float: left;
}

.state {
    font-weight: bold;
}

.dot:hover {
    opacity: 0.8;
}

#scatter-x, #scatter-y {
    width: 40%;
    float: left;
}

.pop-label {
    opacity: 0.5;
}

/* Heatmap styles */

rect.bordered {
    stroke: #E6E6E6;
    stroke-width:2px;
}

text.mono {
    font-size: 8pt;
    font-family: Consolas, courier;
    fill: #aaa;
}

text.axis-category {
    fill: #000;
}

text.axis-state {
    fill: #000;
}

/* CSS for Vis 3b*/
.user-control {
    width: 200px;
    margin-top: 20px;
}

table {
    font-size: 18px;
    margin-top: 20px;
}

th {
    height: 30px;
    text-align: left;
    font-size: 15px;
}

td {
    text-align: right;
    width: 150px;
    font-size: 14px;
}

th, td {
    border-bottom: 2px solid #36d374;
    padding: 10px;
}

#vis-3b-table {
    margin-top: 200px
}

/* Access to health care styling */

#access-img {
    width:100%;
}

#access-intro, .access-number-description {
    font-weight: 100;
}

.access-number {
    font-size: 50px;
}

